{% extends 'base.html' %}

{% block title %} The Best Phonebook | Home {% endblock %}

{% block content %}

<h1>Welcome to our phonebook directory.</h1>

<!-- <h4>My favorite colors:</h4> -->

Right now our page is sparse, but you can register for the employee directory.
<!-- <ul>
    {% for color in colors %}
        {% if color == 'blue' %}
            <li>{{ color.upper() }}</li>
        {% else %}
            <li>{{ color }}</li>
        {% endif %}
    {% endfor %}
</ul> -->

{% endblock %}